---
---

@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'base/base';

/* site specific changes that do not fit into base */

@mixin page-title($color) {
    color: $color;
    background-color: tint($color,80%);
    padding: 30px 10px 0px 10px;
    border-bottom: 4px $color solid;
    margin-bottom: 20px;

    h1 {
      font-family: $page-title-font-family;
      font-weight: $page-title-font-weight;
      font-style: $page-title-font-style;
      font-size: $page-title-font-size;      
      border-bottom: none;
      margin-bottom: 0px;
    }
}

.component-title {
  @include page-title($component-color);
}

.person-title {
  @include page-title($team-color);
}

.team-title {
  @include page-title($team-color);
}

.news-title {
  @include page-title($home-color);
}

.home-title {
  @include page-title($home-color);
}

.publication-title {
  @include page-title($publication-color);
}

.presentation-title {
  @include page-title($presentation-color);
}

@mixin page-content() {
  ul {
    @extend %default-ul;    
  }

  font-family: $page-content-font-family;
  font-weight: $page-content-font-weight;
  font-style: $page-content-font-style;
  font-size: $page-content-font-size; 
}

@mixin page-meta() {
  ul {
    @extend %default-ul;    
  }
}

.component-content {
  @include page-content();
}

.person-content {
  @include page-content();
}

.person-meta {
  @include page-meta();
}

.team-content {
  @include page-content();
}

.team-meta {
  @include page-meta();
}

.home-content {
  @include page-content();
}

.home-meta {
  @include page-meta();
}

.news-content {
  @include page-content();
}

.news-meta {
  @include page-meta();
}

.publication-content {
  @include page-content();
}

.publication-meta {
  @include page-meta();
}

.presentation-content {
  @include page-content();
}

.presentation-meta {
  @include page-meta();
}


@mixin desaturation($percentage) {
  -webkit-filter: grayscale($percentage);
  -moz-filter: grayscale($percentage);
  filter: grayscale($percentage);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.person-image {
    width: 100px;
    height: 100px;
    @include border-radius( 50% );
    @include desaturation(100%);    
}

.person-image-small {
    @extend .person-image;
    width: 50px;
    height: 50px;
}


