---
---

@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

@import 'base/cards';
@import 'code';

$small-display-columns: 4;
$medium-display-columns: 12;
$large-display-columns: 12;

$small-display: new-breakpoint(max-width 519px $small-display-columns);
$medium-display: new-breakpoint(min-width 520px max-width 1023px $medium-display-columns);
$large-display: new-breakpoint(min-width 1024px $large-display-columns);

/* site specific changes that do not fit into base */

@mixin navigation-button($color) {
  color: white;
  font-family: $navigation-button-font-family;
  font-weight: $navigation-button-font-weight;
  font-style: $navigation-button-font-style;
  font-size: $navigation-button-font-size;
  float: left;
  text-align: center;
  margin-right: 5px;
  width: 110px;

  &:last-child {
    margin-right: 0px;
  }

  a {
    display: block;
    height: 30px;
    padding-bottom: 5px;
    padding-top: 3px;
    color: #eee;

    border-bottom: 4px $color solid;
    background-color: #444;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 25ms;

    &:focus,
    &:hover,
    &:active {
      background-color: darken($color, 20%);
      color: white;
    }
  }



  @include media($small-display) {
    width: 25px;
  }

  @include media($medium-display) {
    width: 25px;
  }
}

.nav-icon {
  margin-right: 0.3em;
  display: inline-block;

  @include media($medium-display) {
    margin-right: 0em;
  }

  @include media($small-display) {
    margin-right: 0em;
  }
}

.nav-text {
  display: inline-block;

  @include media($medium-display) {
    display: none;
  }

  @include media($small-display) {
    display: none;
  }
}

.navigation {
  display: block;
  // height: 40px; // commented by gini
  margin-bottom: 5px; // 20px; //changed by gini

  @include media($small-display) {
    margin-right: 0px;
    // height: 30px; // commented by gini
  }
}

.navigation-buttons {
  display: block;
  float: right;
  padding-top: 6px;

  @include media($small-display) {
    margin-right: 0px;
    padding-top: 0px;
  }
}

.submenu {
  float: left;
  width: 200px;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.logo {
  float: left;
  // margin-left: -34px; // commented by gini

  @include media($small-display) {
    padding-top: 5px;
    margin-left: 0px;
  }
}

.logo-header-svg {
  height: 80px; // 40 -> 80 // modified by gini

  @include media($small-display) {
    height: 60px; // 20 -> 60 // modified by gini
  }
}

.wrap {
  @include outer-container;
  @include clearfix;
}



body {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;

  @include media($small-display) {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}


p {
  padding-left: 5px;
}

.home-button {
  @include navigation-button($home-color);
}

.team-button {
  @include navigation-button($team-color);
}

.project-button {
  @include navigation-button($project-color);
}

.publication-button {
  @include navigation-button($publication-color);
}

.teaching-button {
  @include navigation-button($teaching-color);
}

.download-button {
  @include navigation-button($download-color);
}

.help-button {
  @include navigation-button($help-color);
}

.docs-button {
  @include navigation-button($docs-color);
}


@mixin page-title($color) {
  @include span-columns(12);
  @include omega();
  color: $color;
  background-color: tint($color, 95%);
  padding: 5px 0px 0px 0px;
  display: inline-block; // added by gini
  // padding-top: 20px; // added by gini
  border-bottom: 4px $color solid;
  margin-bottom: 20px;

  h1 {
    font-family: $page-title-font-family;
    font-weight: $page-title-font-weight;
    font-style: $page-title-font-style;
    font-size: $page-title-font-size * 0.75;
    border-bottom: none;
    margin-bottom: 0px;
  }
}

@mixin subpage-title($color) {
  @include page-title($color);

  h1 {
    font-size: $page-title-font-size * 0.5;
  }
}

.projects-title {
  @include page-title($project-color);
}

.project-title {
  @include subpage-title($project-color);
}

.person-title {
  @include page-title($team-color);
}

.team-member-title {
  @include subpage-title($team-color);
}

.team-title {
  @include page-title($team-color);
}

.funding-title {
  @include subpage-title($neutral-color);
}

.acknowledgements-title {
  @include subpage-title($neutral-color);
}

.post-title {
  @include subpage-title($home-color);
}

.home-title {
  @include page-title($home-color);
}

.publications-title {
  @include page-title($publication-color);
}

.publication-title {
  @include subpage-title($publication-color);
}

.teaching-title {
  @include page-title($teaching-color);
}

.download-title {
  @include page-title($download-color);
}

.release-title {
  @include subpage-title($download-color);
}

.docs-title {
  @include page-title($docs-color);
}

@mixin single-column-content() {
  @include media($small-display) {
    @include span-columns($small-display-columns);
    @include omega();
  }
}

@mixin dotted-link-underline() {
  a {
    color: #444;
    position: relative;
    border-bottom-width: 1px; // text-decoration would be easier, but not supported by Chrome:
    border-bottom-style: dotted; // https://caniuse.com/#feat=text-decoration
    -webkit-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

@mixin page-content() {
  // for small displays as single column
  @include single-column-content();

  ul {
    @extend %default-ul;
    @include dotted-link-underline;
  }

  ol {
    @extend %default-ol;
    @include dotted-link-underline;
  }

  p {
    @include dotted-link-underline;
  }

  font-family: $page-content-font-family;
  font-weight: $page-content-font-weight;
  font-style: $page-content-font-style;
  font-size: $page-content-font-size;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings

  .right-icon {
    a {
      color: inherit;
      font-size: $base-font-size * 0.75;
    }

    float: right;
  }
}

@mixin page-meta() {
  // for small displays as single column
  @include single-column-content();

  ul {
    @extend %default-ul;
  }

  p {
    a {
      color: #444;
      position: relative;
      text-decoration: none;
    }

    a:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      border-bottom-width: 1px;
      border-bottom-style: dotted;
    }
  }

  font-family: $page-content-font-family;
  font-weight: $page-content-font-weight;
  font-style: $page-content-font-style;
  font-size: $page-content-font-size;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings    
}


.project-content {
  @include page-content();
  @include span-columns(12);
  @include omega();
}

.project-content-main {
  @include page-content();
  @include span-columns(8);
}

.project-content-aside {
  @include page-content();
  @include span-columns(4);
  @include omega();
}

.project-meta {
  @include page-meta();
  @include span-columns(9);
  @include omega();
}

.person-content {
  @include page-content();
}

.person-meta {
  @include page-meta();
}

.team-content {
  @include page-content();
}

.team-content-left {
  @include page-content();
  @include span-columns(6);
}

.team-content-right {
  @include page-content();
  @include span-columns(6);
  @include omega();
}

.team-content-bottom{     //added by gini
  @include page-content();
  @include span-columns(6);
}

.team-meta {
  @include page-meta();
  @include span-columns(12);
  @include omega();
}

.funding-content {
  @include page-content();
}

.funding-meta {
  @include page-meta();
}

.acknowledgements-content {
  @include page-content();
}

.acknowledgements-meta {
  @include page-meta();
}

.home-content-main {
  @include page-content();
  @include span-columns(4); // 8 // changed by gini
}

.home-content-aside {
  @include page-content();
  @include span-columns(8); // 4 // changed by gini
  @include omega();
}

//--- added by gini ---
.team-member-content-main {
  @include page-content();
  @include span-columns(8);
}

.team-member-content-aside {
  @include page-content();
  @include span-columns(4);
  @include omega();
}

.team-member-content-below {
  @include page-content();
  @include span-columns(12);
}
//------

.home-meta {
  @include page-meta();
  @include span-columns(12);
}

.post-content {
  @include page-content();
}

.post-content-main {
  @include page-content();
  @include span-columns(8);
}

.post-content-aside {
  @include page-content();
  @include span-columns(4);
  @include omega();
}

.post-meta {
  @include page-meta();
}

ul.post-list {
  @extend ul;
  margin: 0;
  padding: 0;
  list-style-type: none;

  a.post-list-link {
    font-style: italic;
    color: #444;
    position: relative;
    text-decoration: none;
  }

  a.post-list-link:after {
    position: absolute;
    left: 0px;
    bottom: 0;
    content: '';
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .post-list-item {
    margin-bottom: 10px;

    p {
      margin-bottom: 0px;
      display: inline;
    }

    .post-list-title {
      color: $home-color;
      font-family: $sans-serif-font-family;
      font-weight: 400;
      font-size: $base-font-size * 1.2;
      font-style: normal;
      display: block;
      margin-bottom: 0px;
    }
  }
}

.publication-content {
  @include page-content();
  @include span-columns(12);
  @include omega();
}

.publication-content-main {
  @include page-content();
  @include span-columns(8);
}

.publication-content-aside {
  @include page-content();
  @include span-columns(4);
  @include omega();

  ul {
    @extend %default-ul;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .video {
    margin: auto;
    margin-left: 0;

    @include media($large-display) {
      width: 100%;
    }
  }

}

.publications-content {
  @include page-content();
}

.publication-meta {
  @include page-meta();
}

.release-content {
  @include page-content();
}

.release-meta {
  @include page-meta();
}


.download-content {
  @include page-content();
}

.download-meta {
  @include page-meta();
}


@mixin desaturation($percentage) {
  -webkit-filter: grayscale($percentage);
  -moz-filter: grayscale($percentage);
  filter: grayscale($percentage);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

.person-image {
  width: 100px;
  height: 100px;
  @include border-radius(50%);
  @include desaturation(100%);
}

.person-image-small {
  @extend .person-image;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}



.paper-list-block {
  min-height: 120px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;

  .paper-image-small {
    width: 200px;
    height: 100px;
    float: left;
    margin-right: 20px;
    @include box-shadow(1px, 1px, 4px, transparentize(black, 0.75));
    @include border-radius(3px);

    /*
    @include span-columns(2);
    @include single-column-content();
    */
  }

  p {
    /*
    @include span-columns(10);
    @include omega;
    @include single-column-content();
    */
  }
}

.paper-author {
  // font-size: $page-content-font-size; // commented by gini
}


@mixin nav-content() {

  @include page-content();

  ul {
    @extend %default-ul;
    @include dotted-link-underline;
    list-style-type: none;
    padding: 0;
    margin: 0px;
  }

  ul li {
    margin-bottom: 15px;
  }

  ul ul {
    padding-left: 10px;
    margin: 0;

    li {
      margin-bottom: 0;
    }
  }

}



.docs-content {
  @include page-content();
  @include span-columns(12);
  @include omega();
}

.docs-content-main {
  @include page-content();
  @include span-columns(9);
}

.docs-content-aside {
  @include nav-content();
  @include span-columns(3);
  @include omega();
}


.docs-meta {
  @include page-meta();
  @include span-columns(9);
  @include omega();
}






// Uncomment this for a sticky footer.
//
/*
.wrapper-for-content-outside-of-footer {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
}

html, body {
  height: 100%;
}

.footer-2, .push {
   height: 17em;

   @include media($large-screen) {
     height: 4em;
   }
}
*/

$footer-border-color: $light-gray;

footer {
  @include span-columns(12);
  @include omega();

  .footer-content {
    @include span-columns(12);
    @include omega();
    @include single-column-content();
  }

  $footer-background: $base-background-color;
  $footer-color: black;
  $footer-link-color: $footer-color; //transparentize($footer-color, .6);
  $footer-disclaimer-color: $footer-color; //transparentize($footer-color, .6);

  background: $footer-background;
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 4px solid $footer-border-color;

  .logo-footer-svg {
    height: 30px;

    @include media($small-display) {
      height: 20px;
    }
  }

  .footer-logo {
    display: block;
    text-align: center;
  }

  .institution-logo {
    height: 30px;

    @include media($small-display) {
      height: 20px;
    }
  }

  .footer-text {
    font-family: $footer-content-font-family;
    font-size: $footer-content-font-size;

    @include media($small-display) {
      display: none;
    }

  }

  ul {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5em;
  }

  @mixin footer-list($padding-default, $padding-small) {
    float: right;
    position: relative;
    left: -50%;

    ul {
      position: relative;
      left: 50%;

      li {
        opacity: 0.33;
        float: left;
        padding-right: $padding-default;
        padding-left: $padding-default;

        @include media(small-display) {
          padding-right: $padding-small;
          padding-left: $padding-small;
        }

        &:last-child {
          padding-right: 0;
        }

        &:first-child {
          padding-left: 0;
        }

        &:hover {
          opacity: 1;
        }

        a {
          color: $footer-link-color;
        }
      }
    }
  }

  .footer-list-social {
    @include footer-list(0.75em, 0.5em);
  }

  .footer-list-institutions {
    @include footer-list(0.5em, 0);
  }

  .footer-disclaimer {
    display: block;
    margin-top: 0.25em;
    opacity: 0.33;

    p {
      text-align: center;

      font-family: $sans-serif-font-family;
      font-size: $footer-content-font-size * 1.2;
      font-weight: 400;
    }
  }
}


//.video {
//margin: auto;
//margin-left: 0;

//@include media($large-display) {
//  width: 75%;
//}
//}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;

}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -163px;
  margin-left: -100px;
}

.logo-404-svg {
  width: 200px;
}

.message-404 {
  text-align: center;
  margin-top: 20px;
  font-family: $page-content-font-family;
  font-size: $page-content-font-size * 2;
  font-weight: 700;
  font-style: normal;
  color: black;

  a {
    color: black;

    &:hover,
    &:active,
    &:visited {
      color: black;
    }
  }
}

.repo_list {
  li {
    margin-bottom: 10px;
  }
}

.award {
  font-style: italic;
  color: orange;
}


//--- by gini ---

// .logo {
//   float: left;
//   margin-left: 5px;
//   font-family: Lato,Helvetica,sans-serif;
//   font-weight: 900;
//   font-style: normal;
//   font-size: 2em;
//   border-bottom: none;
//   margin-bottom: 0px;
// }

.logo {
  line-height: 0px;
}

// .logo a {
//   color: #393939;
// }

.logo-subtitle {
  font-family: Lato,Helvetica,sans-serif;
  font-size: .7em;
  line-height: 16px;
  font-weight: 550;
  // padding-top: 48px;
  margin-left: 6px;
  // clear:both; 

  // float: right; // remove to have subtitle on left side
  // margin-top: -35px; // remove to have subtitle on left side
  // margin-bottom: 10px; // remove to have subtitle on left side

  padding-top: 12px;
  float: left;
  width: 200px;
  height: 80px;

  @include dotted-link-underline;
}

.publications-content{
  clear:both;
}


// --- team members ---

.portrait-image {
  height: 180px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.home-content-main {
  font-family: Lato,Helvetica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .9em;
  text-rendering: optimizeLegibility;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  // width: 65.8807828007%;
}

.home-content-aside {
  font-family: Lato,Helvetica,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: .9em;
  text-rendering: optimizeLegibility;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  // width: 31.7615656014%;
  margin-right: 0;
}

ul.contact-list {
  margin: 0;
  padding: 0;
  padding-left: 1.8em;
  list-style-type: none;
}

ul.contact-list li {
  padding-left: 0em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
  vertical-align: top;
  color: #333;
  font-family: Lato,Helvetica,sans-serif;
  font-weight: 400;
  font-size: .9em;
  font-style: normal;
  min-height: 1em;
}

ul.project-icon-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.project-icon-list li {
  padding-left: 2em;
  padding-bottom: 0.5em;
  line-height: 1.2em;
  vertical-align: top;
  color: #333;
  font-family: Lato,Helvetica,sans-serif;
  font-weight: 400;
  font-size: .9em;
  font-style: normal;
  min-height: 2.5em;
}

// .linked-members a {
//   color: #444;
//   -webkit-box-decoration-break: clone;
//   -o-box-decoration-break: clone;
//   box-decoration-break: clone;
// }

.linked-members{
  @include dotted-link-underline;
}

.linked-members a{
  font-size: small;
}

.team-content-right{
  @include dotted-link-underline;
}

.team-member-content-aside ul a{
  font-weight: 700;
}

.institution-icon-list a{
  line-height: 20px;
}

// publication navigation
.pub-nav{
  margin-top: 25px;
  padding-bottom: 15px;
}

.pub-nav ul{
  list-style-type: none;
  padding: 0px;
}

.pub-nav li {
  float: left;
}

.pub-nav li a{
  text-align: center;
  margin-left: 20px;
  font-weight: 700;
  font-size: 1.2em;
}

.publications-content .pub-nav{ // remove this, if the navigation on the "Publications" page should be left
  float: right;
  margin-top: 0px;
}


// publication list

.cover-image-small {
  height: 150px;
  width: 120px;
  float: left;
  margin-right: 20px;
  @include box-shadow( 1px, 1px, 4px, transparentize( black, 0.75) );
  @include border-radius( 3px );
}

.cover-image-small-link + div {
  min-height: 160px;
}

.paper-list-block-book{
  min-height: 0px;
}

.paper-image-home-small{
  width: 100%;
  height: auto;
  // float: left;
  margin-right: 10px;
  @include box-shadow(1px, 1px, 4px, transparentize(black, 0.75));
  @include border-radius(3px);
}

#recent-publications-div .pubs{
  min-height: 220px;
  width: 31%;
  float: left;
  margin-right: 12px;

  @include media($medium-display) {
    width: 45%;
  }
  @include media($small-display) {
    width: 100%;
  }
}

// team-member various lists

.team-member-pub-table td.team-member-pub-date, .courses-table td.courses-date {
  // text-align: right;
  padding-right: 15px;
}

.courses-table td.courses-fields {
  border-bottom: 0px;
  padding: 2px;
  width: 45%;
}

.service-table td.service-date {
  text-align: right;
  padding-right: 15px;
}

.service-table td.service-field {
  width: 83%;
}

.member-publications h1 h2{
  font-weight: 400;
}
.member-publications h2{
  border-bottom: none;
}
.member-publications h3{
  margin-top: 0px;
  font-size: 1.1em;
}