---
permalink: /404.html
---
{% include head.html %}

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="wrap">
      <div class="centered">
        <embed class="logo-404-svg" src="{{ site.baseurl }}/assets/images/logos/caleydo_c.svg" type="image/svg+xml"></embed>      
        <div class="message-404">
          Page not found<br>

          <a href="/"><i class="fa fa-home"></i></a>
        </div>
      </div>
    </div>

    {% if site.use_analytics == true %}
    {% include google_analytics.html %}
    {% endif %} 
  </body>

</html>