<footer class="footer">
  <div class="footer-logo">
    {% include logo.html %}
  </div>

  <div>
    <ul class="footer-social">
        {% if site.email %}
        <li>
          <a href="mailto:{{ site.email }}">
            <i class="fa fa-lg fa-envelope-o"></i>
          </a>
        </li>
        {% endif %}

        {% if site.facebook_page %}
        <li>
          <a href="https://facebook.com/pages/{{ site.facebook_page }}">
            <i class="fa fa-lg fa-facebook"></i>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
        </li>
        {% endif %}

        {% if site.youtube_username %}
        <li>
          <a href="https://www.youtube.com/user/{{ site.youtube_username }}">
            <i class="fa fa-lg fa-youtube"></i>
          </a>
        </li>
        {% endif %}

        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-lg fa-github"></i>
          </a>
        </li>
        {% endif %}
    </ul>
  </div>

  <div class="footer-disclaimer">
    <p>Copyright &copy; 2014 The Caleydo Team. All rights reserved.</p>
  </div>

</footer>