<!-- Google Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', {{ site.google_analytics }}, 'auto');
    ga('send', 'pageview');



    (function (){
        var links = document.getElementsByTagName('a');
        var myLink = null;
        var startWith = null;

        for(var i = 0; i < links.length; ++i) {
            myLink = links[i];

            startWith = myLink.getAttribute('href').slice(0, 1);

            if (startWith!="/" && startWith!="#"){
                addListener(myLink,'mousedown',function(){

                    console.log("a:", this.getAttribute('href'))
                    ga('send', 'event', 'link', 'click', this.getAttribute('href'));

                })
            }

        }
    })();



    /**
     * Utility to wrap the different behaviors between W3C-compliant browsers
     * and IE when adding event handlers.
     *
     * @param {Object} element Object on which to attach the event listener.
     * @param {string} type A string representing the event type to listen for
     *     (e.g. load, click, etc.).
     * @param {function()} callback The function that receives the notification.
     */
    function addListener(element, type, callback) {
        if (element.addEventListener) element.addEventListener(type, callback);
        else if (element.attachEvent) element.attachEvent('on' + type, callback);
    }




</script>
<!-- End Google Analytics -->