<div class="navigation">
    <!--
    {% for page in site.pages %}
      {% if page.title %}<a class="" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
    -->
    <div class="logo">
      <a class="site-title" href="{{ site.baseurl }}/">{% include logo.html %}</a>
    </div>

    <div class="navigation-buttons">
	  <ul>
        <li class="home-button">
          <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span class="nav-text">Home</span></a>
        </li>
        <li class="team-button">
          <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-user"></i></span><span class="nav-text">Team</a>
        </li>
        <li class="project-button">
          <a href="{{ site.baseurl }}/projects/"><span class="nav-icon"><i class="fa fa-cog"></i></span><span class="nav-text">Projects</a>
        </li>
        <li class="download-button">
          <a href="{{ site.baseurl }}/downloads/"><span class="nav-icon"><i class="fa fa-download"></i></span><span class="nav-text">Downloads</a>
        </li>
        <li class="publication-button">
          <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Publications</a>
        </li>
        <li class="help-button">
          <a href="http://help.caleydo.org"><span class="nav-icon"><i class="fa fa-question-circle"></i></span><span class="nav-text">Help</a>
        </li>
	  </ul>
    </div>
</div>
