<nav class="navigation">
  <div class="trigger">
    <!--
    {% for page in site.pages %}
      {% if page.title %}<a class="" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
    {% endfor %}
    -->
    <div class="logo">
      <a class="site-title" href="{{ site.baseurl }}/">{% include logo.html %}</a>
    </div>

    <nav class="navigation-buttons">
	  <ul>
        <li class="home-button">
          <a href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="team-button">
          <a href="{{ site.baseurl }}/team/">Team</a>
        </li>
        <li class="project-button">
          <a href="{{ site.baseurl }}/projects/">Projects</a>
        </li>
        <li class="download-button">
          <a href="{{ site.baseurl }}/downloads/">Downloads</a>
        </li>
        <li class="publication-button">
          <a href="{{ site.baseurl }}/publications/">Publications</a>
        </li>
        <li class="help-button">
          <a href="http://help.caleydo.org">Help</a>
        </li>
	  </ul>
    </nav>
</nav>
