<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{ site.description }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

<!-- Custom Fonts -->
<link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Patua+One|Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

<!-- Custom CSS -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/site.css">

<!-- Fav and touch icons -->
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
<link rel="apple-touch-icon" href="{{ site.baseurl }}/favicon.png" />

{% if page.layout == "publication" %} <!-- metadata for link preview  -->
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="{{page.title}}">
  <meta itemprop="description" content="{{ page.abstract }}">
  {% if page.image_large %}
  <meta itemprop="image" content="{{ site.baseurl }}/assets/images/papers/{{page.image_large}}">
  {% endif %}

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@caleydo_org">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{ page.abstract }}">
  <meta name="twitter:creator" content="@caleydo_org">
  {% if page.image_large %}
  <meta name="twitter:image:src" content="{{ site.baseurl }}/assets/images/papers/{{page.image_large}}">
  {% endif %}

  <!-- Open Graph data -->
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.baseurl }}{{ page.url }}" />
  {% if page.image_large %}
  <meta property="og:image" content="{{ site.baseurl }}/assets/images/papers/{{page.image_large}}" />
  <meta name="twitter:image:src" content="{{ site.baseurl }}/assets/images/papers/{{page.image_large}}">
  {% endif %}
  <meta property="og:description" content="{{ page.abstract }}" />
{% endif %}
