<div class="navigation">
    <div class="logo">
        <a href="{{ site.baseurl }}/">
            <!-- JKU Visual Data Science Group -->
            <img class="logo-header-svg" src="{{ site.baseurl }}/assets/images/logos/DataVisGroup.png" alt="JKU Visual Data Science Group - Logo">
        </a>
    </div>

    <div class="navigation-buttons">
        <ul>
            <li class="home-button">
                <a href="{{ site.baseurl }}/"><span class="nav-icon"><i class="fa fa-home"></i></span><span
                        class="nav-text">Home</span></a>
            </li>
            <li class="team-button">
                <a href="{{ site.baseurl }}/team/"><span class="nav-icon"><i class="fa fa-user"></i></span><span
                        class="nav-text">Team</span></a>
            </li>
            <li class="publication-button">
                <a href="{{ site.baseurl }}/publications/"><span class="nav-icon"><i class="fa fa-book"></i></span><span
                        class="nav-text">Publications</span></a>
            </li>
            
            <!-- <li class="project-button">
                <a href="{{ site.baseurl }}/tools/"><span class="nav-icon"><i class="fa fa-cog"></i></span><span
                        class="nav-text">Tools</span></a>
            </li> -->
            <!--<li class="download-button">
              <a href="{{ site.baseurl }}/software/"><span class="nav-icon"><i class="fa fa-download"></i></span><span class="nav-text">Software</span></a>
            </li> -->

            <!--<li class="help-button">
              <a href="http://help.caleydo.org"><span class="nav-icon"><i class="fa fa-question-circle"></i></span><span class="nav-text">Help</span></a>
            </li> -->
            <!--<li class="help-button">
                  <a href="{{ site.baseurl }}/documentation/"><span class="nav-icon"><i class="fa fa-book"></i></span><span class="nav-text">Docs</span></a>
              </li>-->

        </ul>
    </div>

    <div class="logo-subtitle">Part of the Institute of Computer Graphics @ JKU Linz, Austria</div>
</div>
