
<!-- # Include a repo list using this code: include repo_list.html repos=site.data.plugin_repos category="utility" -->

{% if include.category != empty %}
<ul class="repo_list">
{% for repo in include.repos %}
{% if repo.category == include.category %}
    <li>
        <a href="{{ repo.html_url }}">{{ repo.name }}</a>
        {% if repo.description != empty %}
        <br><span markdown="span">{{ repo.description }}</span>
        {% endif %}
    </li>
{% endif %}
{% endfor %}
</ul>
{% endif %}