{% for person in site.persons %}
{% if person.role == include.role %}
<p>
    <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{site.baseurl}}{{ person.image }}">
    {% if person.cg_website %}
        <a href="{{ person.cg_website }}">{{ person.first_name }} {{ person.last_name }}</a><br>
    {% else %}
        <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a><br>
    {% endif %}
    {% if person.position %}
    {{person.position}},
    {% endif %}
    {{ person.organization }}
</p>
{% endif %}
{% endfor %}