{% for person in site.persons %}
{% if person.role == include.role %}
<p>
    {% if person.image %}
        <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{site.baseurl}}{{ person.image }}">
    {% else %}
        <img alt="{{ person.first_name }} {{ person.last_name }}" class="person-image-small" src="{{site.baseurl}}/assets/images/team_colored/placeholder.png">
    {% endif %}
    {% if person.cg_website %}
        <a href="{{ person.cg_website }}">{{ person.first_name }} {{ person.last_name }}</a><br>
    {% else %}
        <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a><br>
    {% endif %}
    {% if person.position %}
    {{person.position}}
    {% endif %}
</p>
{% endif %}
{% endfor %}
