@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

/*
.component {
  @include outer-container;
  .component-header {
    @include span-columns(12);
    @include omega();
    color: $project-color;
    background-color: tint($project-color,85%);
    padding: 30px 5px 0px 5px;
    border-bottom: 4px $project-color solid;
    margin-bottom: 20px;
  }

  .component-content { 
    @include span-columns(9); 
  }
  .component-meta { @include span-columns(3); @include omega(); }
}


.navigation {
  @include outer-container;
  .project-header { @include span-columns(3); }
  .project-content { @include span-columns(9); @include omega(); }
  .project-meta { @include span-columns(12); }
}
*/