---
layout: default
---
<div class="component">

  <header class="component-header page-title">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="component-content">
    <h2>{{ page.standfirst }}</h2>  
  {{ content }}
  </article>

  <article class="component-meta">

    <h1>Website</h1>
    <p>
    <a href={{ page.website }}>{{ page.website }}</a><br>
    </p>

    <h1>Key Collaborators</h1>
    <p>
    {% for collaborator in page.collaborators %}
    {{ collaborator.name }}, <i>{{ collaborator.affiliation }}</i><br>
    {% endfor %}
    </p>

    <h1>Status</h1>
    <p>
    {{ page.status }}
    </p>
  </article>

</div>