---
layout: documentation
---


<!-- Source: http://liveweave.com/JlSG6D -->
<html class="post">
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src='//codemirror.net/lib/codemirror.js'></script>
<script src='//codemirror.net/mode/xml/xml.js'></script>
<script src='//codemirror.net/mode/javascript/javascript.js'></script>
<script src='//codemirror.net/mode/css/css.js'></script>
<script src='//codemirror.net/mode/htmlmixed/htmlmixed.js'></script>

<script src='//codemirror.net/addon/fold/foldcode.js'></script>
<script src="//codemirror.net/addon/fold/foldgutter.js"></script>
<script src="//codemirror.net/addon/fold/brace-fold.js"></script>
<script src="//codemirror.net/addon/fold/xml-fold.js"></script>
<script src="//codemirror.net/addon/fold/markdown-fold.js"></script>


<link rel='stylesheet' href='//codemirror.net/lib/codemirror.css'>
<link rel="stylesheet" href="//codemirror.net/addon/fold/foldgutter.css"/>
<style type='text/css'>
    .CodeMirror {
        float: left;
        width: 100%;
        border: 1px solid gray;
        height: auto;
    }

    .CodePreview {
        width: 100%;
        float: left;
        border: 1px solid gray;
    }
</style>
<script>


    /**
     * Renders a code-editor with a box displaying the content of file. Optionally renders a preview of the file.
     * @param file the path to the file to be displayed / executed.
     * @param foldAt a comma-separated string of list of line numbers to fold. Example: "2,14,18". This will fold the code at those lines.
     * @param js - true if the code to render is javascript only, false if html. defaults to false.
     * @param renderPreview - set to true if you want to render a preview of your html below the code editor. Defaults to true.
     */
    function renderCode(file, foldAt, js, renderPreview) {
        js = typeof js !== 'undefined' ? js : false;
        renderPreview = typeof renderPreview !== 'undefined' ? renderPreview : true;
        var delay;
        var id = file;
        var boilerplateHTML = "<!DOCTYPE html><html lang='en'><head> <meta charset='UTF-8'><title><\/title><\/head><body>\n";
        var endHTML = "\n<\/script><div id='log'></div><\/body><\/html>";

        var foldPositions = [];
        if (foldAt !== 'undefined') {
            foldPositions = foldAt.split(",");
        }
        var highlightLanguage = "text/html";
        if (js == "true") {
            highlightLanguage = "text/javascript"
        }

        // init with file or code
        $.get(file, function (data) {

            // Initialize CodeMirror editor
            editor = CodeMirror.fromTextArea(document.getElementById(id), {
                mode: highlightLanguage,
                tabMode: 'indent',
                lineNumbers: true,
                lineWrapping: true,
                autoCloseTags: true,
                extraKeys: {
                    "Ctrl-Q": function (cm) {
                        cm.foldCode(cm.getCursor());
                    }
                },
                foldGutter: true,
                gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
            });


            editor.setValue(data);
            editor.refresh();

            foldPositions.forEach(function (d) {
                editor.foldCode(CodeMirror.Pos(d, 0));
            });


            updatePreview();

            // Live preview
            editor.on("change", function () {
                clearTimeout(delay);
                delay = setTimeout(updatePreview, 1000);
            });

            function updatePreview() {

                if (renderPreview == "false" && js == "true") {
                    // if we don't want to see a preview we just evaluate the javascript code
                    eval(editor.getValue());
                }
                if (renderPreview != "false" && js != "true") {

                    var previewFrame = document.getElementById('preview-' + id);
                    if (previewFrame) {
                        // here you can set the height, I delete it first, then I make it again
                        //    previewFrame.height = "";
                        //  previewFrame.height = previewFrame.contentWindow.document.body.scrollHeight + "px";


                        var preview = previewFrame.contentDocument || previewFrame.contentWindow.document;

                        preview.open();
                        preview.write(editor.getValue());
                        preview.close();
                        var body = previewFrame.contentWindow.document.body;
                        if (body) {
                            previewFrame.height = body.scrollHeight + "px";
                        }
                    }
                }

            }

        });
//        function saveTextAsFile() {
//            var textToWrite = document.getElementById(id).value;
//            var textFileAsBlob = new Blob([textToWrite], {
//                type: 'text/plain'
//            });
//            var fileNameToSaveAs = "myfile.html";
//
//            var downloadLink = document.createElement("a");
//            downloadLink.download = fileNameToSaveAs;
//            downloadLink.innerHTML = "Download File";
//            if (window.webkitURL != null) {
//                // Chrome allows the link to be clicked
//                // without actually adding it to the DOM.
//                downloadLink.href = window.webkitURL.createObjectURL(textFileAsBlob);
//            } else {
//                // Firefox requires the link to be added to the DOM
//                // before it can be clicked.
//                downloadLink.href = window.URL.createObjectURL(textFileAsBlob);
//                downloadLink.onclick = destroyClickedElement;
//                downloadLink.style.display = "none";
//                document.body.appendChild(downloadLink);
//            }
//
//            downloadLink.click();
//        }
//
//        function destroyClickedElement(event) {
//            document.body.removeChild(event.target);
//        }

//        function loadfile(input) {
//            var reader = new FileReader();
//            reader.onload = function (e) {
//                editor.setValue(e.target.result);
//            }
//            reader.readAsText(input.files[0]);
//        }

//        var input = document.getElementById("select");
//
//        function selectTheme() {
//            var theme = input.options[input.selectedIndex].innerHTML;
//            editor.setOption("theme", theme);
//        }
//
//        var choice = document.location.search && decodeURIComponent(document.location.search.slice(1));
//        if (choice) {
//            input.value = choice;
//            editor.setOption("theme", choice);
//        }


    }

</script>
</header>

{{ content }}

