---
layout: default
---

<div class="documentation">

    <header class="docs-title">
        <h1>Documentation</h1>
    </header>

    <article class="docs-content-aside">

        <ul>
            {% for navitem in site.data.docu_nav %}
            {% if navitem.categories != null %}

            <li>
                {% if navitem.title == "API Reference" %}
                    <a href="{{ navitem.href }}">{{ navitem.title }} <i class="fa fa-external-link" aria-hidden="true"></i>
 <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ site.baseurl }}/documentation/{{ navitem.href }}">{{ navitem.title }} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                {% endif %}

                <ul>
                    {% for category in navitem.categories %}

                    <li><a href="{{ site.baseurl }}/documentation/{{ category.href }}">{{ category.title }}</a></li>

                    {% endfor %}
                </ul>
            </li>

            {% else %}

            <li>
                {% if navitem.title == "API Reference" %}
                    <a href="{{ navitem.href }}">{{ navitem.title }} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ site.baseurl }}/documentation/{{ navitem.href }}">{{ navitem.title }}</a>
                {% endif %}
            </li>

            {% endif %}
            {% endfor %}
        </ul>
    </article>


    <article class="docs-content-main">
        <h1>{{ page.title | remove: "| Caleydo" }}</h1>
        {{ content }}
    </article>

</div>
