---
layout: default
---
<div class="documentation">

    <header class="documentation-title">
        <h1>{{ page.title | remove: "| Caleydo" }}</h1>
    </header>

    <article class="documentation-content">

        <p>This is the caleydo web docu.</p>

        <p><a href="getting_started">Getting Started</a></p>

        <p><a href="tutorial_single_view">How to create a single view application</a></p>


Developer documentation (Role: Sam) & Application Developer (Role: Christian)
Getting started
How to install caleydo_web_container.  (HEN)
TODO: Move content from repo readme.
Tutorials
Single view heatmap: create app,  create plugin, load data, view heatmap
state prerequisites at the beginning (MARC)
Concepts:
How things are working together (VM, vagrant, python server, grunt, bower, pip for python deps) (CHRISTIAN)
Promises -> provide link
Dataset, range, index, selections
TODO: copy and revise content from Sam’s presentation
https://docs.google.com/presentation/d/1UiVb2b6-tgGoou3p_7NwEXt-g-WQ0wZHaE_xltdWIzI/edit
Plugins, registry, extensions (SAM)
Application examples (LATER)
Pathfinder
Vials
LineUp
API (SAM)
Resources

End User (Role: Anne) -- later


    </article>
    </div>
