---
layout: default
---

<div class="documentation">

    <header class="docs-title">
        <h1>Documentation</h1>
    </header>

    <article class="docs-content-aside">

        <ul>
            {% for navitem in site.data.docu_nav %}
            {% if navitem.categories != null %}
            <li>
                <a href="{{ site.baseurl }}/documentation/{{ navitem.href }}">{{ navitem.title }} <i
                        class="fa fa-angle-down"></i></a>

                <ul>
                    {% for category in navitem.categories %}

                    <li><a href="{{ site.baseurl }}/documentation/{{ category.href }}">{{ category.title }}</a></li>

                    {% endfor %}
                </ul>
            </li>
            {% else %}

            <li>
                {% if navitem.title == 'API Docs' %}
                 <a href="{{ site.data_url }}{{ navitem.href }}">{{ navitem.title }}</a>
                 {% else %}
                <a href="{{ site.baseurl }}/documentation/{{ navitem.href }}">{{ navitem.title }}</a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </article>


    <article class="docs-content-main">
        <h1>{{ page.title | remove: "| Caleydo" }}</h1>
        {{ content }}
    </article>

</div>
