<!-- -&#45;&#45;-->
<!--layout: default-->
<!-- -&#45;&#45;-->
<!--<header class="project-title">-->
    <!--<h1>{{page.name}}: {{ page.title | remove: "| Caleydo" }}</h1>-->
<!--</header>-->

<!--<article class="docu-content-main">-->
    <!--{{ content }}-->

    <!--&lt;!&ndash;{% if page.teaser.highres %}&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../../assets/images/projects/{{ page.teaser.highres }}" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
<!--</article>-->

<!--<article class="docu-content-aside">-->

    <!--</article>-->