---
layout: default
---
<div class="funding">

  <header class="funding-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="funding-content">


    <p> Caleydo is supported by several funding agencies.</p>


    <div class="cards">

      {% for grant in site.funding reversed %}
      <div class="card">
        {% if grant.active %}
        <div class="ribbon-wrapper">
          <div class="ribbon">Active</div>
        </div>
        {% endif %}
        <div class="card-image">
          <a href="{{ grant.website }}">
            {% if grant.logo %}
            <img src="../assets/images/grants/{{ grant.logo}}" alt="grant.name"
                 style="padding: 10px; height: 100px; width: auto; text-align: center">
            {% else %}
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"
                 alt="">
            {% endif %}
          </a>
        </div>
        <div class="card-header">
          {{ grant.title }}
        </div>
        <div class="card-copy">
          <p>Agency: {{ grant.agency }}</p>
          {% if grant.number %}
          <p>Number: {{grant.number}}</p>
          {%endif%}
          {% if grant.program %}
          <p>Program: {{grant.program}}</p>
          {%endif%}
          <p>Period: {{grant.time}}</p>

          {% for person in site.persons %}
          {% if grant.recipient == person.key) %}
          <p>Recipient: <a href="{{person.website}}">{{person.first_name}} {{person.last_name}}</a></p>
          {% endif %}
          {% endfor %}

          {% for institution in site.institutions %}
          {% if grant.recipient == institution.key) %}
          <p>Recipient: <a href="{{institution.website}}">{{institution.name}}</a></p>
          {% endif %}
          {% endfor %}

          {% if grant.partners %}
          <p>Partners: {{grant.partners}}</p>
          {%endif%}
          <p></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </article>

</div>