---
layout: default
---
<div class="home">

  <header class="home-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="home-content-main">
  <h1>About</h1>

 <p>Caleydo is an open source visual analysis framework targeted at biomolecular data. The biggest strength of Caleydo is the visualization of interdependencies between multiple datasets. Caleydo can load tabular data and groupings/clusterings. You can explore relationships between multiple groupings, between different datasets and see how your data maps onto pathways.
   Caleydo has been successfully used to analyze mRNA, miRNA, methylation, copy number variation, mutation status and clinical data as well as other datset types.</p>

  <h1>News <span class="right-icon"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></span></h1>

  <ul class="post-list">
    {% for post in site.posts limit:4 %}
      <li class="post-list-item">
        <span class="post-list-title">
          {{ post.date | date: "%-d %b %Y" }} | {{ post.title }}
        </span>
        <span class="post-list-excerpt">
          {{ post.excerpt }}
          <a class="post-list-link" href="{{ site.baseurl }}{{ post.url }}">More...</a>
        </span>              
      </li>
    {% endfor %}
  </ul>
  <p><a href="news">Earlier news...</a></p>

  <h1>Recent Publications</h1>
  <ul class="publication-icon-list">
  {% sorted_for publication in site.publications reversed sort_by:year %}
    <li><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a></li>
  {% endsorted_for %}
  </ul>

  </article>

  <article class="home-content-aside">
    <h1>Partners</h1>
    <ul class="institution-icon-list">
      {% for institution in site.institutions reversed %}
      <li><a href="{{ institution.website }}">{{ institution.name }}</a></li>
      {% endfor %}
    </ul>

    <h1>Core Projects</h1>
    <ul class="project-icon-list">
      {% sorted_for project in site.projects sort_by:order %}
      {% if project.status == 'core' %}
      <li><a href="{{ site.baseurl }}{{ project.url}}">{{ project.title }}</a></li>
      {% endif %}
      {% endsorted_for %}
    </ul>

    <h1>Prototypes</h1>
    <ul class="project-icon-list">
      {% sorted_for project in site.projects sort_by:order %}
      {% if project.status == 'prototype' %}
      <li><a href="{{ site.baseurl }}{{ project.url}}">{{ project.title }}</a></li>
      {% endif %}
      {% endsorted_for %}
    </ul>

    <h1>Latest Release</h1>
    <ul class="release-icon-list">
      <li><a href="{{ site.baseurl }}{{ site.releases.last.url}}">Caleydo {{ site.releases.last.version }}</a></li>
    </ul>


    <h1>Funding</h1>
    <ul class="funding-icon-list">
      <li><a href="{{ site.baseurl }}/funding/"> Funding</a></li>
    </ul>
  </article>


</div>