<!DOCTYPE html>
<html>

<head>
    {% include head_default.html %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css"/>
    <style type="text/css">
        /*.Caleydosel-image{*/
            /*height: 180px;*/
        /*}*/
    </style>
</head>

<body>

<div class="wrap">
    {% include header.html %}

  <header class="home-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="home-content-main">

  <h1>About</h1>

 <p>Caleydo is an open source visual analysis framework targeted at biomolecular data. The biggest strength of Caleydo is the visualization of interdependencies between multiple datasets. Caleydo can load tabular data and groupings/clusterings. You can explore relationships between multiple groupings, between different datasets and see how your data maps onto pathways.
   Caleydo has been successfully used to analyze mRNA, miRNA, methylation, copy number variation, mutation status and clinical data as well as other datset types.</p>

 <p>All published parts of the software are available as open source. Developers and researchers that want to use or enhance the current tools are invited to contribute. See our <a href="https://github.com/Caleydo/">Github page</a>  for further details.</p>

      <div class="Caleydosel">
          <!--position: relative; top:-25px;-->
          <div><center><a href="projects/pathways/"><img class="Caleydosel-image" data-lazy="assets/images/projects/pathways_lowRes.png" /><div style="font-weight: bold">Pathway Visualization.</div></a></center></div>
        <div><center><a href="projects/stratomex/"><img class="Caleydosel-image" data-lazy="assets/images/projects/StratomeX_lowRes.png" /><div style="font-weight: bold">StratomeX</div></a></center></div>
        <div><center><a href="projects/contour/"><img class="Caleydosel-image" data-lazy="assets/images/projects/2014_vast_contour.png"/><div style="font-weight: bold">ConTour</div></a></center></div>
          <div><center><a href="projects/lineup/"><img class="Caleydosel-image" data-lazy="assets/images/projects/lineup_lowRes.png"/><div style="font-weight: bold">LineUp</div></a></center></div>
          <div><center><a href="projects/domino/"><img class="Caleydosel-image" data-lazy="assets/images/projects/domino_lowRes.png"/><div style="font-weight: bold">Domino</div></a></center></div>
      </div>
  <h1>News <span class="right-icon"><a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-rss"></i></a></span></h1>

  <ul class="post-list">
    {% for post in site.posts limit:4 %}
      <li class="post-list-item">
        <div class="post-list-title">
          {{ post.date | date: "%-d %b %Y" }} | {{ post.title }}
        </div>
        <div class="post-list-excerpt">
          {{ post.excerpt }}
          <a class="post-list-link" href="{{ site.baseurl }}{{ post.url }}">More...</a>
        </div>              
      </li>
    {% endfor %}
  </ul>
  <p><a href="news">Earlier news ...</a></p>

  <h1>Recent Publications</h1>
  <ul class="publication-icon-list">
  {% sorted_for publication in site.publications reversed sort_by:year  %}
    {% if publication.year > 2013 %}
    <li><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a><br>{{publication.year}}</li>
    {% endif %}
  {% endsorted_for %}
  </ul>

  </article>

  <article class="home-content-aside">
    <h1>Partners</h1>
    <ul class="institution-icon-list">
      {% for institution in site.institutions reversed %}
      <li><a href="{{ institution.website }}">{{ institution.name }}</a><br>{{ institution.location }}</li>
      {% endfor %}
    </ul>

    <h1>Projects</h1>
    <ul class="project-icon-list">
      {% sorted_for project in site.projects sort_by:order %}
      {% if project.status == 'core' %}
      <li><a href="{{ site.baseurl }}{{ project.url}}">{{ project.name }}</a><br>{{ project.title }}</li>
      {% endif %}
      {% endsorted_for %}
    </ul>
    <ul class="project-icon-list">
      {% sorted_for project in site.projects sort_by:order %}
      {% if project.status == 'prototype' %}
      <li><a href="{{ site.baseurl }}{{ project.url}}">{{ project.name }}</a><br>{{ project.title }}</li>
      {% endif %}
      {% endsorted_for %}
    </ul>

    <h1>Latest Release</h1>
    <ul class="release-icon-list">
      <li><a href="{{ site.baseurl }}{{ site.releases.last.url}}">Caleydo {{ site.releases.last.version }}</a><br>{{ site.releases.last.date | date: "%-d %b %Y" }}</li>
    </ul>


    <h1>Funding</h1>
    <ul class="funding-icon-list">
      {% sorted_for grant in site.funding sort_by:agency %}
      {% if grant.active != empty %}
      {% if agency != grant.agency %}
      <li><a href="{{ site.baseurl }}/funding">{{ grant.agency }}</a></li>
      {% endif %}
      {% endif %}
      {% assign agency = grant.agency %}
      {% endsorted_for %}
    </ul>
  </article>


    {% include footer.html %}
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.min.js"></script>

{% if site.use_analytics == true %}
{% include google_analytics.html %}
{% endif %}

<script language="JavaScript">
    $(document).ready(function(){
        $('.Caleydosel').slick({
//            lazyLoad: 'progressive',
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
//            centerMode:true,
//            centerPadding:'0%',
            arrows:false,
            dots:true,
            speed:1000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true
                    }
                }
            ]
    });
    });
</script>

</body>
</html>