<!DOCTYPE html>
<html>

<head>
    {% include head_default.html %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.6/slick.css" />
    <style type="text/css">
        /*.Caleydosel-image{*/
        /*height: 180px;*/
        /*}*/
    </style>
</head>

<body>

    <div class="wrap">
        {% include header.html %}

        <header class="home-title">
            <h1>Welcome</h1>
            <!-- <h1>{{ page.title | remove: "| JKU Visual Data Science Group" }}</h1> -->
        </header>

        <article class="home-content-main">

            <h1>About</h1>
            <p>
                Welcome to the home of the Visual Data Science group! 
                We are part of the <a href="https://www.jku.at/en/institute-of-computer-graphics/">Institute of Computer Graphics</a> at the <a href="https://www.jku.at/">Johannes Kepler University Linz</a> in Austria. 
                Our research focuses on developing novel visual analysis methods and tools that enable users to make sense of complex and heterogeneous data. 
                With our solutions we target problems from various fields of application, including cancer research, drug discovery, and manufacturing. 
                Part of our research mission is to make the software we develop available as open source. See our <a href="https://github.com/JKU-ICG">Github</a> page for further details.
            </p>
                    
            <h2>Caleydo</h2>
            <p>
                Caleydo used to be a monolithic visual analysis framework originally developed at <a href="https://www.tugraz.at/home/">TU Graz</a>, targeted at biomolecular data, 
                but has evolved into a more distributed collection of people, tools, software, and research projects. 
                The activities are now continued by the <a href="{{ site.baseurl }}">JKU Visual Data Science group</a> at JKU Linz, <!-- href="https://www.jku.at/" -->
                the <a href="https://vdl.sci.utah.edu/">Vis Design Lab</a> at the University of Utah, <!-- href="https://www.utah.edu/" -->
                and the <a href="http://gehlenborglab.org/">Gehlenborg lab</a> in the Department of Biomedical Informatics at Harvard Medical School. <!-- href="https://dbmi.hms.harvard.edu/" -->
                Some of the tools developed as part of the Caleydo initiative are now maintained and extended by our spin-off company, <a href="https://www.datavisyn.io/">datavisyn</a>.
            </p>

        </article>

        <article class="home-content-aside">

            <h1>Recent Publications</h1>
            <div id="recent-publications-div" class="publications-content">
            <!-- <ul class="publication-icon-list"> -->
                {% assign sorted_publications = site.publications | sort: 'year' %} <!-- | where_exp:"item", 'item.year > 2019'-->
                {% assign max_pubs = 6 %}
                {% for publication in sorted_publications reversed %} <!-- "limit: 5" -->
                    {% if publication.hide or publication.non_group_project %}
                    {% else %}
                    <!-- <li> -->
                        <div class="pubs">
                            {% if publication.image %}
                                <a href="{{ site.baseurl }}{{ publication.url }}">
                                    <img alt="{{ publication.shortname }} screenshot"
                                    class="paper-image-home-small"
                                    src="{{ site.baseurl }}/assets/images/papers/{{ publication.image }}">
                                </a>
                            {% endif %}
                            <p>
                                <b><a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a></b>
                                <br>
                                {{publication.journal-short}}, {{publication.year}}
                            </p>
                        </div>
                    <!-- </li> -->
                    {% assign max_pubs = max_pubs | minus: 1 %}
                    {% endif %}

                    {% if max_pubs <= 0 %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            <!-- </ul> -->
            </div>

            <!-- <h1>Collaborators</h1>
            <ul class="institution-icon-list">
                {% for collaborator in site.collaborators %}
                    <li>
                        <a href="{{ collaborator.website }}">{{ collaborator.name-short }}</a>
                    </li>
                {% endfor %}
            </ul> -->
        </article>


        {% include footer.html %}
    </div>

    {% if site.use_analytics == true %}
    {% include google_analytics.html %}
    {% endif %}

</body>

</html>