---
layout: default
---
<div class="person">

  <header class="person-title">
    <h1>{{ page.first_name }} {{ page.last_name }}</h1>
  </header>

  <article class="person-content">
    <h2>{{ page.standfirst }}</h2>

  {{ content }}
  </article>

  <article class="person-meta">

    <p>
      <img class="person-image" src={{ page.image }}><br>
    </p>

    <h1>Website</h1>
    <p>
    <a href={{ page.website }}>{{ page.website }}</a><br>
    </p>


    <h1>Projects</h1>
    <p>
    {% for project in page.projects %}
    {{ project.name }}, <i>{{ project.url }}</i><br>
    {% endfor %}
    </p>

  </article>

</div>