---
layout: default
---
<div class="person">

  <header class="person-title">
    <h1>{{ page.first_name }} {{ page.last_name }}</h1>
  </header>

  <article class="person-content">
    <img class="person-image" src={{ page.image }}><br>

    {{ content }}
  </article>

  <article class="person-meta">

    <h1>Website</h1>
    <p>
    <a href={{ page.website }}>{{ page.website }}</a><br>
    </p>


    <h1>Projects</h1>
    <p>
    <ul class="default">
    {% for key in page.components %}
      {% for component in site.components %}
        {% if key == component.key %}
          <li><a href="{{ component.url | prepend: site.baseurl }}">{{ component.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
    </p>

  </article>

</div>