---
layout: default
---
<div class="person">

  <header class="person-header">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.standfirst }}</h2>
  </header>

  <article class="person-content">
  {{ content }}
  </article>

  <article class="person-meta">
    <h1>Website</h1>
    <p>
    <a href={{ page.website }}>{{ page.website }}</a><br>
    </p>


    <h1>Projects</h1>
    <p>
    {% for project in page.projects %}
    {{ project.name }}, <i>{{ project.url }}</i><br>
    {% endfor %}
    </p>
  </article>

</div>