---
layout: default
---
<div class="project">

    <header class="project-title">
        <h1>{{ page.title }}</h1>
    </header>

    <article class="project-content">
        <h2>{{ page.standfirst }}</h2>
        {{ content }}

        {% if page.teaser.highres %}
        <img src="../../assets/images/projects/{{ page.teaser.highres }}" alt="">
        {% endif %}
    </article>

    <article class="project-meta">

        <h1>Website</h1>
        <p>
            <a href={{ page.website }}>{{ page.website }}</a><br>
        </p>

        <h1>Key Collaborators</h1>

        <p>
        <ul class="default">
            {% for key in page.collaborators %}
            {% for person in site.persons %}
            {% if key == person.key %}
            <li><a href="{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a></li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
        </p>

        <h1>Status</h1>

        <p>
            {{ page.status }}
        </p>

        <h1>Publications</h1>

        <p>
        <ul class="default">
            {% for key in page.publications %}
            {% for pub in site.publications %}
            {% if key == pub.key %}
            <li><a href="{{ pub.url }}">{{ pub.title }}</a></li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ul>
        </p>

    </article>
</div>