---
layout: default
---
<div class="project">

  <header class="projects-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="project-content">

    <p>Caleydo consists of several projects that typically correspond to <i>views</i> that implement <i>interactive visualization
      techniques</i>. The projects are typically targeted at specific problems or datasets. For a list of funded
      research projects please look at our <a href="{{ site.baseurl }}/funding">sponsors</a>.
    </p>

    <h1> Core Projects</h1>

    <p>These projects are part of the caleydo core, i.e., if you download the Caleydo executable they will be included.
      These projects are tested and documented and are recommended for external use.</p>

    <div>

      {% assign sorted_projects = site.projects | sort: 'order' %}
      {% for project in sorted_projects%}
      {% if project.status == "core" %}

      <div class="card">
        {% if project.badge != null %}
        <div class="ribbon-wrapper">
          <div class="ribbon">{{project.badge}}</div>
        </div>
        {% endif %}
        <div class="card-image">
          <a href="{{ site.baseurl }}{{ project.url }}">
            {% if project.teaser.lowres %}
            <img src="../assets/images/projects/{{ project.teaser.lowres }}" alt="">
            {% else %}
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
            {% endif %}
          </a>
        </div>
        <div class="card-header-project">
          <a href="{{ site.baseurl }}{{ project.url }}">{{project.name}}</a>
        </div>
        <div class="card-copy">
          <p><b>{{ project.title }}</b></p>
          <p>{{ project.standfirst }}</p>
        </div>
      </div>

      {% endif %}
      {% endfor %}

    </div>

    <h1>Prototype Projects</h1>

    <p>These projects are research prototypes that are either not yet stable enough to include in core Caleydo or that
      are simply technology experiments. Some of these projects provide separate executables for download, others have
      to be built from source.</p>


    {% for project in site.projects %}
    {% if project.status == "prototype" %}

    <div class="card">
      {% if project.badge != null %}
      <div class="ribbon-wrapper">
        <div class="ribbon">{{project.badge}}</div>
      </div>
      {% endif %}
      <div class="card-image">
        <a href="{{ site.baseurl }}{{ project.url }}">
          {% if project.teaser.lowres %}
          <img src="../assets/images/projects/{{ project.teaser.lowres }}" alt="">
          {% else %}
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
          {% endif %}
        </a>
      </div>
      <div class="card-header-project">
        <a href="{{ site.baseurl }}{{ project.url }}">{{ project.name }}</a>
      </div>
        <div class="card-copy">
          <p><b>{{ project.title }}</b></p>
          <p>{{ project.standfirst }}</p>
        </div>
    </div>

    {% endif %}
    {% endfor %}


  </article>

</div>