---
layout: default
---
<header class="publications-title">
  <h1>{{ page.title | remove: "| Caleydo" }}</h1>
</header>

<article class="publications-content">

  <h1>Peer-Reviewed Journal and Conference Papers </h1>

  {% for publication in site.publications reversed %}

  <div class="paper-list-block">

    <a href="{{ site.baseurl }}{{ publication.url }}"><img alt="{{ publication.shortname }} screenshot"
                                                           class="paper-image-small"
                                                           src="{{ site.baseurl }}/assets/images/papers/{{ publication.image }}"></a>

    <p>
      {% for author in publication.authors %}

      {% assign known = false %}
      {% for person in site.persons %}
      {% if author == person.key %}
        <span class="paper-author">
		  {% if person.website %}
          <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
          {% else %}
          {{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %}, {% endif %}
          {% endif %}
        </span>
      {% assign known = true %}
      {% endif %}
      {% endfor %}

      {% if known == false %}
        <span class="paper-author">        
          {{ author }}{% if author != publication.authors.last %}, {% endif %}
        </span>
      {% endif %}

      {% endfor %}
      <br/>
      <b> <a href="{{ site.baseurl }}{{ publication.url }}">{{ publication.title }}</a></b><br/>
      {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.
    </p>

  </div>

  {% endfor %}

  <h1>Theses </h1>


  {% for thesis in site.thesis reversed %}

  <div class="paper-list-block">

    <img alt="{{ thesis.shortname }} screenshot" class="paper-image-small" src="{{ site.baseurl }}{{ thesis.image }}">

    <p>
      {% assign known = false %}
      {% for person in site.persons %}
		  {% if person.key == thesis.author %}
			  {% if person.website %}
			  <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>
			  {% else %}
			  {{ person.first_name }}&nbsp;{{ person.last_name }}
			  {% endif %}
			  {% assign known = true %}
		  {% endif %}
      {% endfor %}
	  {% if known == false %}
	  {{ author }}
	  {% endif %} <br/>
      <b> <a href="{{ site.baseurl }}{{ thesis.url }}">{{ thesis.title }}</a></b><br/>
      {{ thesis.institution }}, {{thesis.thesis_type}}, {{thesis.year}}
    </p>

  </div>

  {% endfor %}

  <!-- <h1>Commentaries, Editorials, Book Chapters & Published Abstracts </h1>-->


</article>
