---
layout: default
---
<header class="publications-title">
  <h1>{{ page.title | remove: "| Visual Data Science Group" }}</h1>
</header>

<article class="publications-content">

  <div class="pub-nav"> 
    <ul>
      <li>
        <a href="#preprint"><span>Preprint</span></a>
      </li>
      <li>
          <a href="#journal-papers"><span>Papers</span></a>
      </li>
      <li>
          <a href="#posters"><span>Posters</span></a>
      </li>
      <li>
          <a href="#editorials"><span>Editorials, Commentaries and Book Chapters</span></a>
      </li>
      <!-- <li>
          <a href="#commentaries"><span>Commentaries</span></a>
      </li>
      <li>
          <a href="#book-chapters"><span>Book Chapters</span></a>
      </li> -->
    </ul>
  </div>

  <br>

  <h1 id="preprint">Preprint</h1>

  {% for publication in site.publications reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "preprint" %}
      {% include publication_list_entry.html %}
    {% endif %}
  {% endfor %}

  <br>
  
  <h1 id="journal-papers">Peer-Reviewed Journal and Conference Papers</h1>

  {% for publication in site.publications reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "paper" %}
      {% include publication_list_entry.html %}
    {% endif %}
  {% endfor %}

  <br>
	
  <!-- <h1 id="theses">Theses</h1>

  {% for thesis in site.thesis reversed %}

  <div class="paper-list-block">

    <img alt="{{ thesis.shortname }} screenshot" class="paper-image-small" src="{{ site.baseurl }}{{ thesis.image }}">

    <p>
      {% assign known = false %}
      {% for person in site.persons %}
      {% if person.key == thesis.author %}
      {% if person.cg_website %}
          <a href="{{ person.cg_website }}">{{ person.first_name }} {{ person.last_name }}</a><br>
      {% else %}
          <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a><br>
      {% endif %}
			  {% assign known = true %}
		  {% endif %}
      {% endfor %}
	  {% if known == false %}
	  {{ author }}
	  {% endif %} <br/>
      <b> <a href="{{ site.baseurl }}{{ thesis.url }}">{{ thesis.title }}</a></b><br/>
      {{ thesis.institution }}, {{thesis.thesis_type}}, {{thesis.year}}
    </p>

  </div>

  {% endfor %} -->

  <!-- <h1>Commentaries, Editorials, Book Chapters & Published Abstracts </h1>-->
  <br>
    
  <h1 id="posters">Extended Abstracts and Posters</h1>

  {% for publication in site.data.posters %}

  <p class="poster-item">
    {% for author in publication.authors %}

    {% assign known = false %}
    {% for person in site.persons %}
    {% if author == person.key %}
          <span class="paper-author">
            <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
            <!-- {% if person.website %}
            <a href="{{ person.website }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>{% if author != publication.authors.last %}, {% endif %}
            {% else %}
            {{ person.first_name }}&nbsp;{{ person.last_name }}{% if author != publication.authors.last %}, {% endif %}
            {% endif %} -->
          </span>
    {% assign known = true %}
    {% endif %}
    {% endfor %}

    {% if known == false %}
          <span class="paper-author">
            {{ author }}{% if author != publication.authors.last %}, {% endif %}
          </span>
    {% endif %}

    {% endfor %}
    <br/>

    <b>{{ publication.title }}</b><br/>
    {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.

    {% if publication.abstract-pdf or publication.poster-pdf %}
  <p class="poster-link">

        <span>
          {% if publication.abstract-pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.abstract-pdf }}">Abstract</a>
          &nbsp;
          {% endif %}

          {% if publication.poster-pdf %}
            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.poster-pdf }}">Poster</a>
          &nbsp;
          {% endif %}

          {% if publication.video %}
            <i class="fa fa-file-video-o"></i>&nbsp; <a href="{{ publication.video }}">Video</a>
          &nbsp;
          {% endif %}

        </span>

    {% if publication.award %}
    <span class="award pull-right">
      {{publication.award}}&nbsp;<i class="fa fa-trophy"></i>
    </span>
    {% endif %}

  </p>
  {% endif %}
  <br/>

  {% endfor %}


  <br>

  <h1 id="editorials">Editorials</h1>

  {% for publication in site.edits_comments_books reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "editorial" %}
      {% include publication_list_entry_book.html %}
    {% endif %}
  {% endfor %}

  <br>

  <h1 id="commentaries">Commentaries</h1>

  {% for publication in site.edits_comments_books reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "commentaries" %}
      {% include publication_list_entry_book.html %}
    {% endif %}
  {% endfor %}
      

  <br>

  <h1 id="book-chapters">Book Chapters</h1>

  {% for publication in site.edits_comments_books reversed %}
    {% if publication.personal %}
    {% elsif publication.type == "book_chapter" %}
      {% include publication_list_entry_book.html %}
    {% endif %}
  {% endfor %}

</article>
