---
layout: default
---
<div class="publication">

  <header class="publication-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="publication-content">

    {{ content }}
  </article>

  <h2>Citation</h2>
  <article class="citation">
    <p>

      {% for author in page.authors %}

      {% assign known = false %}
      {% for person in site.persons %}
      {% if author == person.key %}
      <a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a>{% if author != page.authors.last%}, {% endif %}

      {% assign known = true %}
      {% endif %}
      {% endfor %}

      {% if known == false %}
      {{ author }}{% if author != page.authors.last%}, {% endif %}
      {% endif %}

      {% endfor %}


      <br/>
      <b>{{page.title}}</b><br/>
      {{ page.journal }}, {% if page.doi %} <a href="http://dx.doi.org/{{ page.doi }}">doi:{{ page.doi }}</a>, {%endif%}
      {{ page.year }}.</p>

    {%if page.award %}
    <p class="award" style="font-style:italic;">
      {{page.award}}
    </p>
    {% endif %}
    {%if page.note %}
    <p class="note" style="font-style:italic;">
      <b>Note:</b> {{page.note}}
    </p>
    {% endif %}

    {%if page.bibtex %}
    <p>
      <a href="{{site.paper_content_url}}{{ page.bibtex }}"><i class="fa fa-download"></i> &nbsp; BibTeX</a>
    </p>
    {% endif %}
  </article>


  <article class="publication-meta">


    {% for video in site.videos %}
    {% if video.key == page.video or video.key == page.preview-video %}
    <h2>{{video.name}}</h2>
    <iframe width="853" height="480" src="//www.youtube.com/embed/{{video.youtube-id}}" frameborder="0"
            allowfullscreen></iframe>
    <p><a href="{{site.paper_content_url}}{{video.file}}"><i class="fa fa-download"></i> &nbsp; Download video</a>

    <p/>
    {% endif %}
    {% endfor %}

  </article>

  <article class="publication-resources">
    <h2>Resources</h2>

    {% if page.project %}
    {% for project in site.projects %}
    {% if project.key == page.project) %}
    <li><a href="{{ site.baseurl }}{{project.url}}"><i class="fa fa-external-link"></i> &nbsp; Project Site</a></li>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if page.doi %}
    <li>
      <a href="http://dx.doi.org/{{ page.doi }}"><i class="fa fa-external-link"></i> &nbsp; Publisher</a><br/>
    </li>
    {% elsif page.publisher %}
    <li>
      <a href="{{page.publisher}}"><i class="fa fa-external-link"></i> &nbsp; Publisher</a>
    </li>
    {% endif %}

    {% if page.pdf %}
    <li>
      <a href="{{site.paper_content_url}}{{ page.pdf }}"><i class="fa fa-download"></i> &nbsp; Download Paper (PDF)</a><br/>
    </li>
    {% endif %}
    {% if page.supplement %}
    <li>
      <a href="{{site.paper_content_url}}{{ page.supplement }}"><i class="fa fa-download"></i> &nbsp; Download Supplementary Material</a><br/>
    </li>
    {% endif %}

  </article>
</div>