---
layout: default
---
<div class="release">

<header class="release-title">
  <h1>LineUp {{ page.version }}</h1>
</header>

<article class="release-content">

  <p> LineUp is part of Caleydo and runs on
    <b><a href="#win">Windows</a>, <a href="#mac">Mac OS X</a>, and <a
        href="#linux">Linux</a></b>. We regularly test on Windows 7, Ubuntu/Kubuntu
    of the latest versions and Mac OS X.
  </p>

  <br/>
  <h2>Release Notes</h2>
  {{ content }}

  <h2 id="win">Windows</h2>

  <h3>Installation Checklist</h3>

  <ol>
    <li>LineUp is tested with Windows 7 and Windows 8. We can not
      guarantee that LineUp works with earlier Windows versions.
    </li>
    <li>Check the <a href="#sysreq">System Requirements</a></li>
    <li>Install the latest Java. LineUp requires <b>Oracle Java 7
      (&gt;= Java 7 Version 40)</b> on Windows. To download Java, go <a
        href="https://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html">here</a>.
    </li>
    <li>Check your Java installation by opening a command prompt (run
      <code>cmd</code>) and type <code>java -version</code>. A correct
      installation should output something similar to this: <pre>
C:\Users\user&gt;java -version
java version "1.7.0_40"
Java(TM) SE Runtime Environment (build 1.7.0_40-b43)
Java HotSpot(TM) 64-Bit Server VM (build 24.0-b56, mixed mode)
</pre>
    </li>
    <li>Install LineUp using the 64 bit installer (only on 64-bit
      systems), or download and extract the ZIP packages.
    </li>
    <li>Run LineUp from your launch menu (if installed) or execute <code>LineUp.exe</code>
      in the LineUp folder if using the ZIP packages.
    </li>
    <li>On first start LineUp requires an internet connection to
      download pathways (about 80 MB) and sample projects (variable).
    </li>
  </ol>
  <br/>

  <h3>Windows Downloads</h3>

  <!--https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v3.1.1/lineup-demos-win32.win32.x86.zip-->
  <!--<p>-->
    <!--<a-->
        <!--href="https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v{{ page.version }}/lineup-demos-win32.win32.x86_64.exe">LineUp-->
      <!--{{ page.version }}, Windows - 64-bit (Installer)</a>-->
  <!--</p>-->

  <p>

    <a
        href="https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v{{ page.version }}/lineup-demos-win32.win32.x86.zip"><i class="fa fa-download"></i> &nbsp; LineUp
      {{ page.version }}, Windows - 32-bit (zip-compressed)</a>
  </p>

  <p>

    <a
        href="https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v{{ page.version }}/lineup-demos-win32.win32.x86_64.zip"><i class="fa fa-download"></i> &nbsp; LineUp
      {{ page.version }}, Windows - 64-bit (zip-compressed)</a>
  </p>

  <br/>
  <br/>



  <h2 id="mac">Mac OS X</h2>

  <h3>Installation Checklist</h3>

  <ol>
    <li>Check that you are running either <b>Mac OS X Lion (10.7), Mac OS X Mountain Lion (10.8) or Mac OS X Mavericks
      (10.9)</b>. Older versions are not
      compatible with LineUp.
    </li>
    <li>Check the <a href="#sysreq">System Requirements</a></li>
    <li>Install the latest Java. LineUp requires <b>Oracle Java 7
      (&gt;= Java 7 Version 40)</b>. You
      have to manually install the <a
          href="https://www.oracle.com/technetwork/java/javase/downloads/jdk7-downloads-1880260.html">Java
        7 JDK</a> (NOT the JRE!).
    </li>
    <li>Check the installed Java version by opening a terminal window
      and running <code>java -version</code>. A correct installation should
      output something similar to this: <pre>
$ java -version
java version "1.7.0_40"
Java(TM) SE Runtime Environment (build 1.7.0_40-b43)
Java HotSpot(TM) 64-Bit Server VM (build 24.0-b56, mixed mode)
</pre>
    </li>
    <li>Download and extract the LineUp ZIP file.</li>
    <li>Run LineUp by double-clicking the icon of the application
      extracted from the ZIP file. You may also drag the application into
      your "Applications" folder.
    </li>
    <li>On first start LineUp requires an internet connection to
      download pathways (about 80 MB) and sample projects (variable).
    </li>
  </ol>

  <br/>

  <h3>Mac OS X Download</h3>

  <p>
    <a
        href="https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v{{ page.version }}/lineup-demos-macosx.cocoa.x86_64.zip"><i class="fa fa-download"></i> &nbsp; LineUp
      {{ page.version }}, MacOSX - 64-bit (zip-compressed)</a>
  </p>

  <br/>
  <br/>

  <h2 id="linux">Linux</h2>

  <h3>Installation Checklist</h3>

  <ol>
    <li>Check the <a href="#sysreq">System Requirements</a></li>
    <li>Install the latest Java 7 (&gt;= Open JDK 7 Version 25)</li>
    <li>Check your Java installation by running <code>java
      -version</code>. A correct installation should output something similar to
      this: <pre>
$ java -version
java version "1.7.0_25"
OpenJDK Runtime Environment (IcedTea 2.3.10) (7u25-2.3.10-1ubuntu0.13.04.2)
OpenJDK 64-Bit Server VM (build 23.7-b01, mixed mode)
</pre>
    </li>
    <li>Choose either 64-bit Debian package (for Ubuntu, Debian and
      other Debian-based distributions) and install it running: <pre>
$ apt-get install caleydo-linux.gtk.x86_64.deb </pre>
      Or download and extract
      the tar ball: <pre>
$ tar xzvf caleydo-linux.gtk.x86_64.tar.gz
</pre>
    </li>
    <li>Run LineUp either from your launcher (if you used the debian
      package) or from inside the LineUp folder.
    </li>
    <li>On first start LineUp requires an internet connection to
      download pathways (about 80 MB) and sample projects (variable).
    </li>
  </ol>
  <br/>

  <h3>Linux Downloads</h3>

  <!--<p>-->
    <!--<a-->
        <!--href="https://github.com/Caleydo/caleydo/releases/download/v{{ page.version }}/caleydo-linux.gtk.x86_64.deb">LineUp-->
      <!--{{ page.version }}, Linux - 64-bit (deb Package)</a>-->
  <!--</p>-->

  <p>
    <a
        href="https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v{{ page.version }}/lineup-demos-linux.gtk.x86.tar.gz"><i class="fa fa-download"></i> &nbsp; LineUp
      {{ page.version }}, Linux - 32-bit (tar.gz-compressed)</a>
  </p>

  <p>
    <a
        href="https://github.com/Caleydo/org.caleydo.vis.lineup.demos/releases/download/v{{ page.version }}/lineup-demos-linux.gtk.x86_64.tar.gz"><i class="fa fa-download"></i> &nbsp; LineUp
      {{ page.version }}, Linux - 64-bit (tar.gz-compressed)</a>
  </p>

  <br/>
  <br/>

  <h2 id="sysreq">System Requirements</h2>

  <h3>Memory</h3>

  <p>LineUp requires at least 2GB of RAM for the 64-bit versions and
    1GB of RAM for the 32-bit version. For working with large projects we
    recommend at least 4GB.</p>

  <h3>Screen Resolution</h3>

  <p>LineUp can be run with a minimum screen resolution of 1280x1024,
    however, a higher resolution is recommended.</p>

  <h3>Graphics Cards</h3>

  <p>
    LineUp uses high-end computer graphics. While it works on a
    wide range of graphics cards and systems, <b>dedicated graphics
    cards by NVidia or AMD are strongly recommended</b> (for example, a
    graphics card better of the NVidia Geforce 8 series or better should be
    fine). Also make sure that you have the <b>latest drivers</b>
    installed. Download <a href="https://www.nvidia.com/Drivers">NVidia</a>
    or <a href="https://support.amd.com/us/gpudownload/Pages/index.aspx">AMD</a>
    drivers.
  </p>
  <br/>
  <br/>

  <h2>Source Code</h2>

  <p>
    Caledyo 3 is licensed under the new BSD License. You can get access to
    the source code at <a href="https://github.com/Caleydo/caleydo">GitHub</a>.
  </p>

  <p>Caledyo is open source software under the new BSD license. You
    may download and redistribute the software. Caleydo comes without any
    warranty; without even the implied warranty of merchantability or
    fitness for a particular purpose.</p>

</article>

<article class="release-meta">

</article>

</div>
