---
layout: default
---
<div class="release">

  <header class="release-title">
    <h1>{{ page.first_name }} {{ page.last_name }}</h1>
  </header>

  <article class="release-content">
    {{ content }}
  </article>

  <article class="release-meta">

    <h1>Projects</h1>
    <p>
    <ul class="default">
    {% for key in page.projects %}
      {% for project in site.projects %}
        {% if key == project.key %}
          <li><a href="{{ project.url }}">{{ project.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
    </p>

  </article>

</div>