---
layout: default
---
<div class="team-member">
    <header class="team-member-title">
        <h1>{{ page.title }}</h1>
    </header>

    <article class="team-member-content-main">

        <p><img alt="{{ page.first_name }} {{ page.last_name }}" class="portrait-image" src="{{site.baseurl}}{{ page.image }}"></p>

        {{ content }}


    </article>

    <article class="team-member-content-aside">

        <h1>Contact</h1>
        <p><b>{{ page.first_name }} {{ page.last_name }}</b><br>{{ page.degrees }} </p>

        <ul class="contact-list fa-ul">

            <!-- <p><b>{{ page.first_name }} {{ page.last_name }}</b><br>{{ page.degrees }} </p> -->

            {% if page.location %}
            <li><i class="fa-li fa fa-home"></i>
                {{ page.location }}
            </li>
            {% endif %}

            {% if page.phone %}
            <li><i class="fa-li fa fa-phone"></i>
                {{ page.phone }}</b>
            </li>
            {% endif %}

            {% if page.fax %}
            <li><i class="fa-li fa fa-fax"></i>
                {{ page.fax }}
            </li>
            {% endif %}

            {% if page.email %}
            <li><i class="fa-li fa fa-envelope-o"></i>
                <a href="mailto:{{ page.email }}">
                    <i class="mail-icon-item"></i>
                    {{ page.email }}
                </a>
            </li>
            {% endif %}

            {% if page.twitter %}
            <li><i class="fa-li fa fa-twitter"></i>
                <a href="https://twitter.com/{{ page.twitter }}">
                    {{ page.twitter }}
                </a>
            </li>
            {% endif %}

            {% if page.github %}
            <li><i class="fa-li fa fa-github"></i>
                <a href="https://github.com/{{ page.github }}">
                    {{ page.github }}
                </a>
            </li>
            {% endif %}

            {% if page.google_scholar %}
            <li><i class="fa-li fa fa-graduation-cap"></i>
                <a href="http://scholar.google.com/citations?user={{ page.google_scholar }}">
                    {{ page.google_scholar }}
                </a>
            </li>
            {% endif %}

            {% if page.linkedin %}
            <li><i class="fa-li fa fa-linkedin-square"></i>
                <a href="https://www.linkedin.com/in/{{ page.linkedin }}">
                    {{ page.linkedin }}
                </a>
            </li>
            {% endif %}

            {% if page.cv %}
            <li><i class="fa-li fa fa-file-text-o"></i>
                <a href="{{ page.cv }}">
                    Download CV
                </a>
            </li>
            {% endif %}

        </ul>
        <br />

    </article>

    <article class="team-member-content-below">

        {% if page.show_pub_nav %}
        <div class="pub-nav"> 
            <ul>
                <li>
                    <a href="#journal-papers"><span>Papers</span></a>
                </li>
                <li>
                    <a href="#theses"><span>Theses</span></a>
                </li>
                <li>
                    <a href="#posters"><span>Posters</span></a>
                </li>
            </ul>
        </div>
        {% endif %}

        {% assign member_publications = site.publications | where_exp:"item", 'item.authors contains page.key' %}

        {% assign member_preprints = member_publications | where:"type", "preprint" %}
        {% if member_preprint %}
            <h1 id="preprint">Preprint</h1>
            {% for publication in member_preprint reversed %}
                {% include publication_list_entry.html %}
            {% endfor %}
        {% endif %}
        
      
        <br>
        
        {% assign member_papers = member_publications | where:"type", "paper" %}
        {% if member_papers %}
            <h1 id="journal-papers">Peer-Reviewed Journal and Conference Papers</h1>
            {% for publication in member_papers reversed %}
                {% include publication_list_entry.html %}
            {% endfor %}
            
        {% endif %}

        <br>
          
        
        {% assign member_thesis = site.thesis | where_exp:"item", 'item.author == page.key' %}
        {% assign psize = member_thesis | size %}
        {% if psize > 0 %}
            <h1 id="theses">Theses</h1>
            {% for thesis in member_thesis reversed %}
                <div class="paper-list-block">
                
                    <img alt="{{ thesis.shortname }} screenshot" class="paper-image-small" src="{{ site.baseurl }}{{ thesis.image }}">
                
                    <p>
                        {% assign known = false %}
                        {% for person in site.persons %}
                            {% if person.key == thesis.author %}
                                <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>
                                {% assign known = true %}
                            {% endif %}
                        {% endfor %}
                        {% if known == false %}
                        {{ author }}
                        {% endif %} <br/>
                        <b> <a href="{{ site.baseurl }}{{ thesis.url }}">{{ thesis.title }}</a></b><br/>
                        {{ thesis.institution }}, {{thesis.thesis_type}}, {{thesis.year}}
                    </p>
            
                </div>
            {% endfor %}
            
        {% endif %}

      
        <br>
          


        {% assign member_posters = site.data.posters | where_exp:"item", "item.authors contains page.key" %}
        {% assign psize = member_posters | size %}
        {% if psize > 0 %}
            <h1 id="posters">Extended Abstracts and Posters</h1>
            {% for publication in member_posters reversed %}
                
                <p class="poster-item">
                    {% for author in publication.authors %}
                
                    {% assign known = false %}
                    {% for person in site.persons %}
                    {% if author == person.key %}
                        <span class="paper-author">
                            <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }}&nbsp;{{ person.last_name }}</a>
                        </span>
                    {% assign known = true %}
                    {% endif %}
                    {% endfor %}
                
                    {% if known == false %}
                        <span class="paper-author">
                            {{ author }}{% if author != publication.authors.last %}, {% endif %}
                        </span>
                    {% endif %}
                
                    {% endfor %}
                    <br/>
                
                    <b>{{ publication.title }}</b><br/>
                    {{ publication.journal }}, {{publication.year}}{% if publication.to_appear %} (to appear){%endif%}.
                
                    {% if publication.abstract-pdf or publication.poster-pdf %}
                <p class="poster-link">
                
                        <span>
                        {% if publication.abstract-pdf %}
                            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.abstract-pdf }}">Abstract</a>
                        &nbsp;
                        {% endif %}
                
                        {% if publication.poster-pdf %}
                            <i class="fa fa-file-pdf-o"></i>&nbsp; <a href="{{site.poster_content_url}}{{ publication.poster-pdf }}">Poster</a>
                        &nbsp;
                        {% endif %}
                
                        {% if publication.video %}
                            <i class="fa fa-file-video-o"></i>&nbsp; <a href="{{ publication.video }}">Video</a>
                        &nbsp;
                        {% endif %}
                
                        </span>
                
                    {% if publication.award %}
                    <span class="award pull-right">
                    {{publication.award}}&nbsp;<i class="fa fa-trophy"></i>
                    </span>
                    {% endif %}
                
                </p>
                {% endif %}
                <br/>
            
            {% endfor %}
            
        {% endif %}

      
      </article>
      

</div>