---
layout: default
---
<div class="team">

  <header class="team-title">
    <h1>{{ page.title | remove: "| Visual Data Science Group" }}</h1>
  </header>

  <article class="team-content-left">
      <h1>Faculty</h1>

      {% include role.html role="faculty" %}

      <h1>Research Associates & PhD Students</h1>

      {% include role.html role="raPhD" %}


      <h1 class="linked-members"><a href="https://www.jku.at/en/institute-of-computer-graphics/about-us/team/" target="_blank">Administration</a></h1>
      <h1 class="linked-members"><a href="https://www.jku.at/en/institute-of-computer-graphics/about-us/team/" target="_blank">Technical Support</a></h1>

     <!-- <h1>Contributors</h1> -->

      <!-- {% include role.html role="contributor" %} -->
  </article>

  <article class="team-content-right">
       <!--  <h1>Advisors</h1>

      {% include role.html role="advisor" %}

     <h1>Collaborators</h1>

      {% include role.html role="collaborator" %} -->

      <h1>Undergraduate Students</h1>

      {% include role.html role="undergrad" %}

      <h1>PhD Graduates</h1>

      {% include role.html role="phdgrad" %}

      <h1>Alumni</h1>

      {% include role.html role="alumni" %}

  </article>

  <article class="team-content-bottom">
    <h1>Former Caleydo Team</h1>

    {% include former-role.html role="formerCaleydo" %}
  </article>
  <!-- <article class="team-meta">
    <h1>Others</h1>
    <p>We also thank Michael Kalkusch, Werner Puff, and Bernhard Schlegel for their contributions in the past.</p>
  </article> -->

</div>