---
layout: default
---
<div class="publication">

  <header class="publication-title">
    <h1>{{ page.title | remove: "| Caleydo" }}</h1>
  </header>

  <article class="publication-content">
    <h1>{{page.authors}}</h1>
    {{ content }}
  </article>

  <p><a href="{{ site.paper_content_url }}{{ page.pdf }}">Download Thesis (PDF)</a><br/></p>

  <p>Advisors: {{page.advisors}}</p>

  <h2>Citation</h2>
  <article class="citation">

    {% assign known = false %}
    {% for person in site.persons %}
    {% if person.key == page.author %}
    <a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a>

    {% assign known = true %}

    {% if known == false %}
    {{ author }}
    {% endif %}
    {% endif %}
    {% endfor %}

    <br/>
    <b>{{page.title}}</b><br/>
    {{ page.institution }}, {% if page.doi %} <a href=http://dx.doi.org/{{ page.doi }}>doi:{{ page.doi }}</a>,
    {%endif%}
    {{page.thesis_type}}, {{ page.year }}</p>

    {%if page.award %}
    <p class="award" style="font-style:italic;">
      {{page.award}}
    </p>
    {% endif %}

    {%if page.bibtex %}
    <p>
      <a href="{{ page.bibtex }}">BibTeX</a>
    </p>
    {% endif %}
  </article>


</div>