---
layout: default
---
  <header class="project-title">
    <h1>{{page.name}}: {{ page.title | remove: "| JKU Visual Data Science Lab" }}</h1>
  </header>

  <article class="project-content-main">
    <h2>{{ page.standfirst }}</h2>
    {{ content }}

    <!--{% if page.teaser.highres %}-->
    <!--<img src="../../assets/images/projects/{{ page.teaser.highres }}" alt="">-->
    <!--{% endif %}-->
  </article>

  <article class="project-content-aside">
    <h1>Team Members</h1>
    <p>
    <ul class="person-icon-list">
      {% for key in page.team %}
      {% assign known = false %}

      {% for person in site.persons %}
      {% if key == person.key %}
      <li>
        {% if person.cg_website %}
            <a href="{{ person.cg_website }}">{{ person.first_name }} {{ person.last_name }}</a><br>
        {% elsif person.hide_personal_page %}
            {{ person.first_name }} {{ person.last_name }}<br>
        {% else %}
            <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a><br>
        {% endif %}
        {{ person.organization }}
      </li>     
      <!-- <li><a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a><br>{{ person.organization }}</li> -->
      {% assign known = true %}
      {% endif %}
      {% endfor %}

    {% if known == false %}
    <li>{{ key }}</li>
    {% endif %}

      {% endfor %}
    </ul>
    </p>

    {% if page.collaborators.size > 0 %}
    <h1>Collaborators</h1>
    <p>
    <ul class="person-icon-list">
      {% for collaborator in page.collaborators %}
      {% assign known = false %}
      {% for person in site.persons %}
      {% if collaborator == person.key %}
      <li>
        {% if person.cg_website %}
            <a href="{{ person.cg_website }}">{{ person.first_name }} {{ person.last_name }}</a><br>
        {% elsif person.hide_personal_page %}
            {{ person.first_name }} {{ person.last_name }}<br>
        {% else %}
            <a href="{{ site.baseurl }}{{ person.url }}">{{ person.first_name }} {{ person.last_name }}</a><br>
        {% endif %}
        {{ person.organization }}
      </li>
      <!-- <li><a href="{{ person.website }}">{{ person.first_name }} {{ person.last_name }}</a><br>{{ person.organization }}</li> -->
      {% assign known = true %}
      {% endif %}
      {% endfor %}

      {% if known == false %}
      <li>{{ collaborator }}</li>
      {% endif %}

      {% endfor %}
    </ul>
    </p>
    {% endif %}

    {% if page.publications.size > 0 %}
    <h1>Software</h1>
    <p>
      {% assign is_core_caleydo = true %}
      {% for release in site.releases %}
      {% if release.key contains page.key %}
    <ul class="release-icon-list">
      <li><a class="release-icon-list" href="{{ site.baseurl }}{{ release.url }}">{{ release.software }} {{ release.version }}</a><br>{{ release.date | date: "%-d %b %Y" }}
      </li>
    </ul>

    {% assign is_core_caleydo = false %}
    {% endif %}
    {% endfor %}

    {% if page.status != "web" and is_core_caleydo %}
    <ul class="release-icon-list">
      <li><a href="{{ site.baseurl }}{{ site.releases.last.url}}">Caleydo {{ site.releases.last.version }}</a><br>{{ site.releases.last.date | date: "%-d %b %Y" }}</li>
    </ul>
    {% endif %}
    </p>
    {% endif %}



{% for web in page.web %}
    {% if web.url and web.name %}
    <ul class="web-release-icon-list">
      <li><a href="{{ web.url}}">{{web.name}}</a></li>
    </ul>
    {%endif%}
    {% endfor %}


	{% assign repos =  page.github | group_by:"private" %} {% comment %} private and not private {% endcomment %}
	{% assign repos2 =  repos | where:"name","" %} {% comment %} just not private one {% endcomment %}
    {% if repos2[0].items.size > 0 %}
    <p>
    <ul class="source-icon-list">
      {% for repo in repos2[0].items %}
	  <li>
		{% if repo.url %}
		<a href="{{ repo.url }}">{% if repo.name %} {{ repo.name }} {% else %} {{ repo.url | remove: "https://github.com/Caleydo/" }} {% endif %}</a>
		{% else %}
		<a href="{{ repo }}">{{ repo | remove: "https://github.com/Caleydo/" }}</a>
		{% endif %}
		<br>Source Code</li>
	  {% endfor %}
    </ul>
    </p>
    {% endif %}

    {% if page.help %}
    <h1>Help</h1>

    <ul class="help-icon-list">
      <li><a href="{{ page.help}}">{{page.name}} Help</a></li>
    </ul>
    {%endif%}
  </article>

  <article class="project-meta">

    {% if page.videos %}
    <h1 id="video">Video</h1>
    {% for video in site.videos %}
    {% for video_key in page.videos %}
    {% if video_key == video.key %}
    <h3>{{video.name}}</h3>   
    <div class="video">
      <div class="video-wrapper">
        <iframe src="//www.youtube.com/embed/{{video.youtube-id}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <p><a href="{{site.paper_content_url}}{{video.file}}"><i class="fa fa-download"></i> &nbsp; Download video</a><p/>
    </div>    
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% endif %}


    {% if page.publications.size > 0 %}
    <h1 id="publications">Publications</h1>

    <p>
    <ul class="publication-icon-list">
      {% for key in page.publications %}
      {% for pub in site.publications %}
      {% if key == pub.key %}

      <li><a href="{{ site.baseurl }}{{ pub.url }}">{{ pub.title }}</a></li>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
    </p>


    {% endif %}

  </article>
