ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $base-line-height / 2;
    padding-left: $base-line-height;
  }
}


@mixin icon-list($color, $icon) {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding-left: 2em;
      padding-bottom: 0.5em;
      line-height: $base-font-size * 1.2;
      vertical-align: top;
      color: $base-font-color;
      font-family: $sans-serif-font-family;
      font-weight: 400;
      font-size: $base-font-size * 0.9;
      font-style: normal;
      min-height: 2.5em;

      a {        
        font-weight: 700;
        color: darken( $color, 20% );
      }
      a:after{
         border-bottom-width: 0;
      }    
    }
    li:before {
      content: $icon;
      color: $color; 
      font-family: FontAwesome; /* or whatever */
      font-size: $base-font-size * 1.3;      
      margin-left: -2.2em;
      padding-left: 0.8em;
      width: 1.25em;
      height: 1.5em;
      float: left;
      display: block;
    }  
  }

ul.project-icon-list {
  @include icon-list($project-color,"\f013");
}

ul.release-icon-list {
  @include icon-list($download-color,"\f019");
}

ul.publication-icon-list {
  @include icon-list($publication-color,"\f02d");
}

ul.institution-icon-list {
  @include icon-list($team-color,"\f19c");
}

ul.person-icon-list {
  @include icon-list($team-color,"\f007");
}

ul.funding-icon-list {
  @include icon-list($neutral-color,"\f024");
}

ul.source-icon-list {
  @include icon-list($neutral-color,"\f09b");
}




/*
 ul.project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding-left: 2.5em ;
      line-height: $base-font-size * 2;
      vertical-align: middle;
      color: $project-color;
      font-family: $sans-serif-font-family;
      font-weight: 700;
      font-size: $base-font-size;
      font-style: normal;

      a {        
        color: $project-color;
      }
    }
    li:before {
      content: "\f013";
      color: $project-color;      
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -2em;
      padding-left: 0.35em;
      margin-right: 0.5em;
      width: 1.25em;
      height: 1.5em;
    }  
  }
*/

dl {
  margin-bottom: $base-line-height / 2;

  dt {
    font-weight: bold;
    margin-top: $base-line-height / 2;
  }

  dd {
    margin: 0;
  }
}

