@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Patua+One|Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

$sans-serif-font-family: Lato, Helvetica, sans-serif;
$serif-font-family: Lato, Helvetica, sans-serif; //Vollkorn, Times, serif;
$slab-font-family: Patua One, Helvetica, sans-serif;

$page-title-font-family: $sans-serif-font-family;
$page-title-font-weight: 900;
$page-title-font-style: normal;
$page-title-font-size: $base-font-size * 3;

$content-title-font-family: $slab-font-family;
$content-title-font-weight: 700;
$content-title-font-style: normal;

$page-content-font-family: $serif-font-family;
$page-content-font-weight: 400;
$page-content-font-style: normal;
$page-content-font-size: 1em;

$footer-content-font-family: $sans-serif-font-family;
$footer-content-font-weight: 400;
$footer-content-font-style: normal;
$footer-content-font-size: .7em;

$navigation-button-font-family: $sans-serif-font-family;
$navigation-button-font-weight: 700;
$navigation-button-font-style: normal;
$navigation-button-font-size: $base-font-size * 0.9;


body {
  -webkit-font-smoothing: antialiased;
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $unitless-line-height;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1, h2, h3, h4, h5, h5 {
  font-family: $content-title-font-family;
  font-weight: $content-title-font-weight;
  font-style: $content-title-font-style;  
  margin-bottom: 10px;
  padding-left: 5px;
  padding-bottom: 0px;
}

h1 {
  font-size: $base-font-size * 1.75; // 16 * 2.25 = 36px
  border-bottom: 2px $light-gray solid;
}

h2 {
  font-size: $base-font-size * 1.5; // 16 * 2 = 32px
  border-bottom: 2px $light-gray solid;
}

h3 {
  font-size: $base-font-size * 1.25; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.12; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.06; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p {
  margin: 0 0 ($base-line-height * .5);
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

hr {
  border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-color;
  color: lighten($base-font-color, 15);
  margin: $base-line-height 0;
  padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}

.page-header h1 {
  font-family: $page-title-font-family;
  font-weight: $page-title-font-weight;
  font-style: $page-title-font-style;  
  font-size: $base-font-size * 3; // 16 * 3 = 48px
}
